.mainText{
    padding: 20px;
}

.quote {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #67c4e5;
    border-radius: 7px;
}

.quote_inner {
    padding: 15px 30px 15px 30px;
}

.quote_dot {
    margin-left: 10px;
    letter-spacing: 15px;
    padding: 5px;
}

.quote_header {
    font-weight: bold;
    margin-bottom: 10px;
}

.TextMapContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 15px;
}